<% if @event %>
	<form action="/<%=  @event.id %>" method="post" id="edit">
		<input type="hidden" name="_method" value="put">
		<p>
		Evento:
		<input  type ="text" name="title" value="<%= @event.title %>">
		Fecha: 
		<input type="text" id="datepicker" name="date_event" value="<%= @event.date_event %>">
		<p>
			Descipci&oacuten:
		</p>
		<textarea name="content"> <%= @event.content %></textarea>
		<p>
		<button type="submit" class="btn btn-lg btn-primary">Modificar</button>
		</p>
	</form>	
	<p><a href="/<%= @event.id %>/delete" >Delete</a></p>
<% else %>
	<p>Este evento no existe.</P>
<% end %>


