<% if @event %>
	<form action="/<%=  @event.id %>" method="post" id="edit">
		<input type="hidden" name="_method" value="put">
		<input  type ="text" name="title" value="<%= @event.title %>">
		<input type="text" id="datepicker" name="date_event" value="<%= @event.date_event %>">
		<textarea name="content"> <%= @event.content %></textarea>
		<input type="submit">
	</form>	
	<p><a href="/<%= @event.id %>/delete" >Delete</a></p>
<% else %>
	<p>Este evento no existe.</P>
<% end %>


