
<section id="post">
  <div class="jumbotron">
	<form action="/" method="post">
    <p>
    Evento:
    <input type ="text" name="title" placeholder="Escribe el titulo del evento&hellip;">
    </p>
    <p>
    Fecha: 
    <input type="text" id="datepicker" name="date_event">
    </p>
    <p>
    Descripci&oacuten:
    </p>
    <p>
      <textarea style="width: 460px;" name="content" placeholder="Descripcion&hellip;"></textarea>
    </p>
    <button type="submit" class="btn btn-lg btn-primary">Crear Evento</button>
	</form>
</div>
</section>

<% @events.each do |event| %>
  <article>
    <p> 
     <h3> <%= event.title %> </h3>
    </p>
    <p>
      Descripci&oacuten: <%= event.content %>
      <span><a href="/<%= event.id %>">[edit]</a></span>
    </p>
    <p class="links">
      <a href="/<%= event.id %>/complete">&#8623;</a>
    </p>
    <p class="meta">Fecha del evento: <%= event.date_event %></p>
  </article>
<% end %>
