
<% @events.each do |event| %>
  <article>
    <p> 
     <h3> <%= event.title %> </h3>
    </p>
    <p>
      Descripci&oacuten: <%= event.content %>
    </p>
    <p class="links">
      <a href="/<%= event.id %>/complete"><%=  %></a>
    </p>
    <p class="meta">Fecha del evento: <%= event.date_event %></p>
    <p>
      <a style="color:#FFF;"class="btn btn-lg btn-success" href="/events/<%= event.id %>/invite" >Invitar</a>
      <a style="color:#FFF;" class="btn btn-lg btn-primary" href="/events/<%= event.id %>">Editar</a>
    </p>
  </article>
<% end %>
